HMP_Dataset/*

!HMP_Dataset/Liedown_bed/Accelerometer-2011-03-29-09-19-22-liedown_bed-f1.txt
!HMP_Dataset/Liedown_bed/Accelerometer-2011-06-02-17-21-57-liedown_bed-m1.txt
!HMP_Dataset/Liedown_bed/Accelerometer-2011-05-30-10-38-41-liedown_bed-m1.txt